<div>
  <header title="Client Management"></header>
  <br>
  <div *ngIf="available && !client.clientId">
    <div class="container filterHeader" *ngIf="profile.employee.type !== 'employee'">
      <div style="float: left">
        <button class="customBtn activeBtn" (click)="newClient(modal, 'create', '')" style="margin-right:20px;height: 36px;">
          <i class="fa fa-plus" aria-hidden="true"></i>
          New Client
        </button>
      </div>
    </div>
    <div class="container">
      <table id="dsr" class="table" cellpadding="10">
        <thead>
          <tr>
            <th scope="col">CLIENT ID</th>
            <th scope="col">CLIENT</th>
            <th scope="col">CREATED BY</th>
            <th scope="col">ASSIGNED TO</th>
            <th scope="col">LAST UPDATED</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="clientList.length > 0">
          <tr class="whiteBox" *ngFor="let item of clientList; let i = index" (click)="openClient(item)">
            <td>{{item.clientId}}</td>
            <td>{{item.name | truncate}}</td>
            <td>
              <div style="display: inline-flex">
                <img src={{item.createdBy.photo}} class="roundImg" />
                <p class="imgText">{{item.createdBy.name}}</p>
              </div>
            </td>
            <td>
              <div style="display: inline-flex">
                <img src={{item.assignedTo.photo}} class="roundImg" />
                <p class="imgText">{{item.assignedTo.name}}</p>
              </div>
            </td>
            <td>{{item.modified | date: 'mediumDate'}}</td>
            <td></td>
          </tr>
        </tbody>
        <tbody *ngIf="clientList.length === 0">
          <tr class="whiteBox">
            <td>No Data Available</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="available && client.clientId">
    <div class="container filterHeader">
      <button class="noBtn" (click)="goBack()" style="margin-right:20px;"> <i class="fa fa-chevron-left" aria-hidden="true"></i>
        Back</button>
      <br><br>
      <div class="container">
        <div class="row">
          <div class="col-12 modalPopup">
            <div>
              <h5 class="popTitle pull-left">Client Information</h5>
              <p class="roundBtn pull-right" (click)="newClient(modal, 'edit', client)"><i class="fa fa-pencil"
                  aria-hidden="true"></i>
                Edit</p>
              <p class="roundBtn pull-right" style="margin-right: 10px;" (click)="openReference(refer, client)"><i
                  class="fa fa-plus" aria-hidden="true"></i> Feedback</p>
            </div>
            <br><br>
            <div style="background-color: #ffffff; padding: 10px;">
              <div>
                <div class="col-6 col-6-grid">
                  <span class="primary"><strong>Client ID</strong></span>
                  <span>{{client.clientId}}</span>
                </div>
                <div class="col-6 col-6-grid">
                  <span class="primary"><strong>Client Name</strong></span>
                  <span>{{client.name}}</span>
                </div>
              </div>
              <div>
                <div class="col-6 col-6-grid">
                  <span class="primary"><strong>Created Date</strong></span>
                  <span>{{client.created | date: 'mediumDate'}}</span>
                </div>
                <div class="col-6 col-6-grid">
                  <span class="primary"><strong>Last Updated</strong></span>
                  <span>{{client.modified | date: 'mediumDate'}}</span>
                </div>
              </div>
              <div>
                <div class="col-6 col-6-grid">
                  <span class="primary"><strong>Client Address</strong></span>
                  <span>{{client.address}}</span>
                </div>
              </div>
              <div>
                <div class="col-6 col-6-grid">
                  <span class="primary"><strong>Contact Person</strong></span>
                  <span>{{client.person}}</span>
                </div>
                <div class="col-6 col-6-grid">
                  <span class="primary"><strong>Contact Number</strong></span>
                  <span>{{client.contact}}</span>
                </div>
              </div>
              <div>
                <div class="col-6 col-6-grid">
                  <span class="primary"><strong>Created By</strong></span>
                  <div style="display: inline-flex">
                    <img src={{client.createdBy.photo}} class="roundImg" />
                    <p class="imgText">{{client.createdBy.name}}</p>
                  </div>
                </div>
                <div class="col-6 col-6-grid">
                  <span class="primary"><strong>Assigned To</strong></span>
                  <div style="display: inline-flex">
                    <img src={{client.assignedTo.photo}} class="roundImg" />
                    <p class="imgText">{{client.assignedTo.name}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 modalPopup">
            <br>
            <h5 class="popTitle"> Client Activity</h5>
            <hr>
            <div class="logRow whiteBox" style="border-left: 4px solid #1474a4;" *ngFor="let item of client.logs">
              <div class="col-12" style="display: inline-flex">
                <p class="col-8 logHead" style="text-align: left;">{{item.type | titlecase}} Activity</p>
                <p class="col-4 logHead" style="text-align: right;">{{item.created | date: 'medium'}}</p>
              </div>
              <div class="col-12">
                <p *ngIf="item.description">{{item.description}}</p>
                <p style="margin-bottom: 5px;"> {{item.by}} {{item.text}} the Client on {{item.created | date:
                  'medium'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-12 modalPopup">
          <h5 class="popTitle">{{title}}</h5>
          <hr>
          <form name="clientForm" (ngSubmit)="onSubmit()" #taskForm="ngForm">
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Client Name</strong></span>
                <div class="form-group">
                  <input id="typeahead-focus" type="text" class="form-control form-control-sm" [(ngModel)]="model.name"
                    [ngbTypeahead]="search" name="client" placeholder="Client Name" required />
                </div>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Address</strong></span>
                <div class="form-group">
                  <textarea class="form-control" rows="3" cols="20" name="address" id="address" [(ngModel)]="model.address"
                    required placeholder="Address..."></textarea>
                </div>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Contact Person</strong></span>
                <div class="form-group">
                  <input type="text" class="form-control form-control-sm" name="person" [(ngModel)]="model.person"
                    placeholder="Contact Person">
                </div>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Contact Number</strong></span>
                <div class="form-group">
                  <input type="number" class="form-control form-control-sm" name="number" [(ngModel)]="model.number"
                    placeholder="Contact Number">
                </div>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Assign To</strong></span>
                <div ngbDropdown class="d-inline-block sameRow">
                  <p *ngIf="!selectedEmployee.name" id="actions" style="cursor: pointer" ngbDropdownToggle>Select an
                    Employee</p>
                  <button type="button" class="empDropBtn" id="actions" ngbDropdownToggle *ngIf="selectedEmployee.name">
                    <div style="display: inline-flex">
                      <img src={{selectedEmployee.photo}} class="roundImg" />
                      <p class="imgText">{{selectedEmployee.name}}</p>
                    </div>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="actions" class="empDropDown">
                    <div *ngFor="let item of employees" style="display: inline-flex" (click)="selectEmp(item)">
                      <img src={{item.photo}} class="roundImg" />
                      <p class="imgText">{{item.name}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="!taskForm.form.valid">{{btn}}</button>
              <button type="button" class="btn btn-default btn-sm btn-block" (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #refer let-modal>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-12 modalPopup">
          <h5 class="popTitle">Reference</h5>
          <hr>
          <form name="referenceForm" (ngSubmit)="addReference(client)" #referenceForm="ngForm">
            <div>
              <div class="col-12 col-12-grid">
                <div class="form-group">
                  <textarea class="form-control" rows="5" cols="30" name="reference" id="reference" [(ngModel)]="reference"
                    required placeholder="Feedback..."></textarea>
                </div>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="!referenceForm.form.valid">Add
                Reference</button>
              <button type="button" class="btn btn-default btn-sm btn-block" (click)="model = {}; modal.dismiss('Cross click')">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
