<nav class="navbar navbar-expand-lg custom justify-content-between">
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="fa fa-pied-piper fa-lg" aria-hidden="true"></i>
      <h5 style="display: inline">
        Im<strong>Print</strong>
      </h5>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <div ngbDropdown class="d-inline-block sameRow">
            <button type="button" class="empDropBtn" id="actions" ngbDropdownToggle>
              <div style="display: inline-flex; color: #ffffff">
                <img src='{{photo || "/assets/images/default_user.png"}}' class="roundImg" />
                <p class="imgText">{{name}}</p>
              </div>
            </button>
            <div ngbDropdownMenu aria-labelledby="actions">
              <button class="dropdown-item" (click)="logout()">Sign Out</button>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>

</nav>
