<div>
  <header title="Performance Bridge"></header>
  <div class="container filterHeader">
    <h2>Daily Sale Report</h2>
    <br>
    <!-- Filter Box -->
    <div class="filterBox">
      <p>{{ fromDate | date: 'mediumDate' }} - {{toDate | date: 'mediumDate' }}</p>
      <div *ngFor="let item of filters; let i = index">
        <button class="btn btn-secondary btn-sm float-left filerItem" [class.active]="item.selected" (click)="selected(item.label)"
          title={{item.label}}>{{item.label}}</button>
        <div *ngIf="item.name === 'Custom' && show" #datepicker id="datepicker" style="color: #000000">
          <datepicker (change)="calendarData($event)"></datepicker>
        </div>
      </div>
    </div>
    <br>
    <div>
      <div style="float: left">
        <p class="sameRow">Total - {{dsrList.length}}</p>
        <p class="sameLine">Sort: </p>
        <div ngbDropdown class="d-inline-block sameLine">
          <button class="customBtn" id="dropdownBasic1" ngbDropdownToggle>{{sorted}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="applySort(item)" *ngFor="let item of sortBy; let i = index">{{item.key}}</button>
          </div>
        </div>
        <p class="sameLine">Order: </p>
        <div ngbDropdown class="d-inline-block sameLine">
          <button class="customBtn" id="dropdownBasic1" ngbDropdownToggle>{{order == '1' ? 'Ascending' : 'Descending'}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="applyorder(1)">Ascending</button>
            <button class="dropdown-item" (click)="applyorder(-1)">Descending</button>
          </div>
        </div>
      </div>
      <div style="float: right">
        <p class="sameLine">Filters: </p>
        <div ngbDropdown class="d-inline-block sameLine">
          <button class="customBtn" id="dropdownBasic1" [class.selectedFilter]="filterSelected.Employee != 'Employee'"
            ngbDropdownToggle>{{filterSelected.Employee}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="applyFilters('Employee','name', item)" *ngFor="let item of filterBy.employee; let i = index">{{item}}</button>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block sameLine">
          <button class="customBtn" id="dropdownBasic1" [class.selectedFilter]="filterSelected.Status != 'Status'"
            ngbDropdownToggle>{{filterSelected.Status}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="applyFilters('Status', 'effort.sales', item)" *ngFor="let item of filterBy.status; let i = index">{{item}}</button>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block sameLine">
          <button class="customBtn" id="dropdownBasic1" [class.selectedFilter]="filterSelected.Client != 'Client'"
            ngbDropdownToggle>{{filterSelected.Client}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="applyFilters('Client', 'effort.client', item)" *ngFor="let item of filterBy.client; let i = index">{{item}}</button>
          </div>
        </div>
        <button class="customBtn" (click)="clearFilter()">Clear</button>
      </div>
    </div>
  </div>
  <div class="container">
    <table id="dsr" class="table" cellpadding="10">
      <thead>
        <tr>
          <th scope="col">CLIENT</th>
          <th scope="col">STATUS</th>
          <th scope="col">FOLLOWUP</th>
          <th scope="col">VISITED</th>
          <th scope="col">EMPLOYEE</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="dsrList.length > 0">
        <tr class="whiteBox" *ngFor="let item of dsrList; let i = index">
          <td>{{item.effort.client}}</td>
          <td>{{item.effort.sales}}</td>
          <td>{{item.effort.followup | date: 'mediumDate'}}</td>
          <td>{{item.created | date: 'mediumDate'}}</td>
          <td>{{item.name}}</td>
          <td>
            <div ngbDropdown class="d-inline-block sameRow">
              <button class="roundBtn" id="actions" ngbDropdownToggle>Actions</button>
              <div ngbDropdownMenu aria-labelledby="actions">
                <button class="dropdown-item"><i class="fa fa-trash" aria-hidden="true"> </i> Delete</button>
                <button class="dropdown-item"><i class="fa fa-share-alt" aria-hidden="true"> </i> Share</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="dsrList.length === 0">
        <tr class="whiteBox">
          <td>No Data Available</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div style="float: right">
      <ngb-pagination [collectionSize]="50" [(page)]="page" [boundaryLinks]="false" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
  </div>
</div>
