.background {
  color: #ffffff;
  background-color: #1474a4;
  background-image: linear-gradient(to bottom right, #09508d, #1488c0);
  background-image: -webkit-linear-gradient(to bottom right, #09508d, #1488c0);
  background-image: -moz-linear-gradient(to bottom right, #09508d, #1488c0);
  background-image: -o-linear-gradient(to bottom right, #09508d, #1488c0);
  width: 100%;
  height: 100%;
}

.filterHeader {
  padding: 20px 12px;
}

h4 {
  font-weight: 400 !important;
}

p {
  margin-bottom: 5px !important;
}

.filterBox {
  height: 85px;
}

.filerItem {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: #58585c;
  list-style: none;
  max-width: 125px;
  border: 1px solid #ffffff !important;
  margin: 2px;
  min-width: 50px;
  height: 30px;
  background-color: #ffffff !important;
  padding: 2px 5px;
  font-weight: 400;
}

.active {
  background-color: #1474a4 !important;
}

.whiteBox {
  color: #58585c;
  background-color: #ffffff !important;
  border: 1px solid #ffffff;
  padding: 10px;
  box-shadow: 0px 3px 15px -1px #ccc;
  cursor: pointer;
}

.topBorder {
  border-top: 4px solid #0a538f !important;
}

.noBtn {
  font-size: 14px;
  font-weight: 600;
  background: transparent;
  border: none;
  color: #58585c;
  cursor: pointer;
}

.noBtn:focus {
  outline: none !important;
}

.sameRow {
  display: inline-block;
  margin-right: 20px;
}

.sameLine {
  display: inline-block;
  margin-right: 10px;
}

.table {
  border-collapse: separate;
  border-spacing: 0px 6px;
  font-size: 14px;
}

.table thead th {
  border: none !important;
}

.table thead tr th {
  color: #58585c;
  font-size: 12px;
  padding-left: 20px;
}

td:nth-child(2) {
  padding-right: 20px;
}

.roundBtn {
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 12px;
  color: #58585c;
  background-color: transparent;
  padding: 4px 18px;
  cursor: pointer;
}

.customBtn {
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 12px;
  color: #58585c;
  background-color: #ffffff;
  padding: 4px 18px;
  cursor: pointer;
}

.roundBtn:focus,
.customBtn:focus {
  outline: none !important;
}

#actions::after {
  display: none;
}

ngb-pagination /deep/ .page-link {
  color: #58585c !important;
}

ngb-pagination /deep/ .page-item.active .page-link {
  background-color: #1474a4 !important;
  border-color: #1474a4 !important;
  color: #ffffff !important;
}

tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 25px;
}

tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: right;
}

.dropdown-item {
  cursor: pointer;
  font-size: 14px;
}

.dropdown-item:hover {
  background-color: #1474a4 !important;
  color: #ffffff !important;
}

.whiteBox:hover {
  background-color: #3fb0e630 !important;
}

datepicker /deep/ ngb-datepicker {
  background-color: #f8f9fa;
  z-index: 1000;
  position: relative;
}

.selectedFilter {
  background-color: #1474a4;
  color: #ffffff
}
