<div class="center">
  <div class="login">
    <i class="fa fa-pied-piper fa-5x" aria-hidden="true"></i>
    <h1>
      Im<strong>Print</strong>
    </h1>
    <br>
    <form name="loginForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" name="exampleInputEmail1" [(ngModel)]="model.username" placeholder="Enter Username/Email/Phone" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control form-control-sm" name="exampleInputPassword1" [(ngModel)]="model.password" placeholder="Password" required>
      </div>
      <div class="alignLeft">        
        <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="!loginForm.form.valid">Log In</button>
      </div>
    </form>
  </div>
</div>
