.center {
  padding-top: 280px;
  background-color: #1474a4;  
  background-image: linear-gradient(to bottom right, #09508d, #1488c0);
  background-image: -webkit-linear-gradient(to bottom right, #09508d, #1488c0);
  background-image: -moz-linear-gradient(to bottom right, #09508d, #1488c0);
  background-image: -o-linear-gradient(to bottom right, #09508d, #1488c0);
  height: 100% !important;
  position: absolute;
  width: 100%;
}

.login {
  margin: auto;
  width: 300px;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.alignLeft {
  text-align: left;
}
