<div>
  <header title="Task Management"></header>
  <div class="container filterHeader">
    <br>
    <div class="filterBox">
      <p>{{ fromDate | date: 'mediumDate' }} - {{toDate | date: 'mediumDate' }}</p>
      <div *ngFor="let item of filters; let i = index">
        <button class="btn btn-secondary btn-sm float-left filerItem" [class.active]="item.selected" (click)="selected(item.label)"
          title={{item.label}}>{{item.label}}</button>
        <div *ngIf="item.name === 'Custom' && show" #datepicker id="datepicker" style="color: #000000">
          <datepicker (change)="calendarData($event)"></datepicker>
        </div>
      </div>
    </div>
    <div>
      <div style="float: left">
        <button class="customBtn activeBtn" (click)="createTask(newTask, 'create', '')" style="margin-right:20px;height: 36px;">
          <i class="fa fa-plus" aria-hidden="true"></i>
          New Task
        </button>
        <button class="customBtn" (click)="saveProps()" style="margin-right:20px;"> <i class="fa fa-refresh"
            aria-hidden="true"></i>
          Refresh</button>
        <p class="sameLine">Order: </p>
        <div ngbDropdown class="d-inline-block sameLine">
          <button class="customBtn" id="dropdownBasic1" ngbDropdownToggle>{{order == 1 ? 'Ascending' : 'Descending'}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="applyorder(1)">Ascending</button>
            <button class="dropdown-item" (click)="applyorder(-1)">Descending</button>
          </div>
        </div>
      </div>
      <div style="float: right">
        <p class="sameLine">Filters: </p>
        <div ngbDropdown class="d-inline-block sameLine">
          <button class="customBtn" id="dropdownBasic1" [class.selectedFilter]="filterSelected.Status != 'Status'"
            ngbDropdownToggle>{{filterSelected.Status}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="applyFilters('Status','status', item)" *ngFor="let item of filterBy.status; let i = index">{{item}}</button>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block sameLine">
          <button class="customBtn" id="dropdownBasic1" [class.selectedFilter]="filterSelected.Employee != 'Employee'"
            ngbDropdownToggle>{{filterSelected.Employee}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="applyFilters('Employee','assignedTo.name', item)" *ngFor="let item of filterBy.employee; let i = index">{{item}}</button>
          </div>
        </div>
        <button class="customBtn" (click)="clearFilter()">Clear</button>
      </div>
    </div>
    <br>
  </div>
  <div class="container">
    <table id="dsr" class="table" cellpadding="10">
      <thead>
        <tr>
          <th scope="col">TITLE</th>
          <th scope="col">CLIENT</th>
          <th scope="col">STATUS</th>
          <th scope="col">DUE DATE</th>
          <th scope="col">LAST UPDATE</th>
          <th scope="col">EMPLOYEE</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="taskList.length > 0">
        <tr class="whiteBox" *ngFor="let item of taskList; let i = index">
          <td>{{item.title | truncate:26}}</td>
          <td>{{item.client | truncate}}</td>
          <td style="font-weight: 600">{{item.status}}</td>
          <td>{{item.due | date: 'mediumDate'}}</td>
          <td>{{item.modified | date: 'mediumDate'}}</td>
          <td>
            <div style="display: inline-flex">
              <img src={{item.assignedTo.photo}} class="roundImg" />
              <p class="imgText">{{item.assignedTo.name}}</p>
            </div>
          </td>
          <td>
            <button class="roundBtn" id="open" style="margin-right: 10px;" (click)="openTask(popup, item)">Open</button>
            <div ngbDropdown class="d-inline-block sameRow">
              <button class="roundBtn" id="actions" ngbDropdownToggle>Actions</button>
              <div ngbDropdownMenu aria-labelledby="actions">
                <button class="dropdown-item" (click)="createTask(newTask, 'edit', item)"><i class="fa fa-pencil"
                    aria-hidden="true">
                  </i>
                  Edit</button>
                <button class="dropdown-item" (click)="shareTask(item)"><i class="fa fa-share-alt" aria-hidden="true">
                  </i>
                  Share</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="taskList.length === 0">
        <tr class="whiteBox">
          <td>No Data Available</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div style="float: right">
      <ngb-pagination [collectionSize]="50" [(page)]="page" [boundaryLinks]="false" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
  </div>
  <modal #modal title={{modalTitle}} content={{modalContent}} btnText={{modalBtnText}}></modal>
</div>

<ng-template #popup let-modal>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-12 modalPopup">
          <div>
            <h5 class="popTitle"><i class="fa fa-bookmark" aria-hidden="true"></i> &nbsp; Task Information</h5>
            <hr>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Title</strong></span>
                <span>{{selectedItem.title}}</span>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Status</strong></span>
                <span>{{selectedItem.status}}</span>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Created Date</strong></span>
                <span>{{selectedItem.created | date: 'mediumDate'}}</span>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Last Visited</strong></span>
                <span>{{selectedItem.modified | date: 'mediumDate'}}</span>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Due Date</strong></span>
                <span>{{selectedItem.due | date: 'mediumDate'}}</span>
              </div>
            </div>
            <hr>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Client Name</strong></span>
                <span>{{selectedItem.client}}</span>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Description</strong></span>
                <span>{{selectedItem.description}}</span>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Contact Person</strong></span>
                <span>{{selectedItem.person}}</span>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Contact Number</strong></span>
                <span>{{selectedItem.contact}}</span>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Location</strong></span>
                <span>{{selectedItem.location}}</span>
              </div>
            </div>
            <hr>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Assigned By</strong></span>
                <div style="display: inline-flex">
                  <img src={{selectedItem.assignedBy.photo}} class="roundImg" />
                  <p class="imgText">{{selectedItem.assignedBy.name}}</p>
                </div>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Assigned To</strong></span>
                <div style="display: inline-flex">
                  <img src={{selectedItem.assignedTo.photo}} class="roundImg" />
                  <p class="imgText">{{selectedItem.assignedTo.name}}</p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="modalPopup" style="text-align: center" *ngIf="selectedItem.showMenu">
            <button class="customBtn sameLine activeBtn" (click)="modal.dismiss('Cross click'); createTask(newTask, 'edit', selectedItem)"><i
                class="fa fa-pencil" aria-hidden="true"></i>
              &nbsp; Edit</button>
            <button class="customBtn sameLine activeBtn" (click)="modal.dismiss('Cross click'); shareTask(selectedItem)"><i
                class="fa fa-share-alt" aria-hidden="true">
              </i>
              &nbsp; Share</button>
            <button class="customBtn sameLine activeBtn" id="open" (click)="modal.dismiss('Cross click')">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #newTask let-modal>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-12 modalPopup">
          <h5 class="popTitle">{{taskModalTitle}}</h5>
          <form name="taskForm" (ngSubmit)="onSubmit()" #taskForm="ngForm">
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Title</strong></span>
                <div class="form-group">
                  <input type="text" class="form-control form-control-sm" name="title" [(ngModel)]="model.title"
                    placeholder="Title" required>
                </div>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Client Name</strong></span>
                <div class="form-group">
                  <input id="typeahead-focus" type="text" class="form-control form-control-sm" [(ngModel)]="model.client"
                    [ngbTypeahead]="search" name="client" placeholder="Client Name" required />
                  <small id="emailHelp" class="form-text text-muted float-right">Not found? <a (click)="modal.dismiss('Cross click'); createClient(addClient)"
                      style="cursor: pointer; color: #1474a4">Add
                      Client</a></small>
                </div>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Description</strong></span>
                <div class="form-group">
                  <textarea class="form-control" rows="3" cols="20" name="description" id="description" [(ngModel)]="model.description"
                    required placeholder="Description..."></textarea>
                </div>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Client Location</strong></span>
                <div class="form-group">
                  <input type="text" class="form-control form-control-sm" name="location" [(ngModel)]="model.location"
                    placeholder="Location">
                </div>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Contact Person</strong></span>
                <div class="form-group">
                  <input type="text" class="form-control form-control-sm" name="person" [(ngModel)]="model.person"
                    placeholder="Contact Person" required>
                </div>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Contact Number</strong></span>
                <div class="form-group">
                  <input type="number" class="form-control form-control-sm" name="contact" [(ngModel)]="model.contact"
                    placeholder="Contact Number" required>
                </div>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Due Date</strong></span>
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="selectedDate"
                      ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="empDropBtn" style="border: 1px solid #ccc;" (click)="d.toggle()" type="button"><i
                          class="fa fa-calendar" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Task Status</strong></span>
                <div ngbDropdown class="d-inline-block sameLine">
                  <button type="button" class="customBtn" id="dropdownBasic1" ngbDropdownToggle>{{selectedStatus}}</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button type="button" class="dropdown-item" (click)="applyEditFilters(item)" *ngFor="let item of filterBy.status; let i = index">{{item}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Assign To</strong></span>
                <div ngbDropdown class="d-inline-block sameRow">
                  <button type="button" class="empDropBtn" id="actions" ngbDropdownToggle>
                    <div style="display: inline-flex">
                      <img src={{selectedEmployee.photo}} class="roundImg" />
                      <p class="imgText">{{selectedEmployee.name}}</p>
                    </div>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="actions" class="empDropDown">
                    <div *ngFor="let item of employees" style="display: inline-flex" (click)="selectEmp(item)">
                      <img src={{item.photo}} class="roundImg" />
                      <p class="imgText">{{item.name}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="!taskForm.form.valid">{{taskModalBtn}}</button>
              <button type="button" class="btn btn-default btn-sm btn-block" (click)="model = {}; modal.dismiss('Cross click')">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #addClient let-modal>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-12 modalPopup">
          <h5 class="popTitle">{{taskModalTitle}}</h5>
          <form name="clientForm" (ngSubmit)="modal.dismiss('Cross click'); clientSubmit(newTask, type, selectedItem)"
            #clientForm="ngForm">
            <div>
              <div class="col-12 col-12-grid">
                <span class="primary"><strong>Title</strong></span>
                <div class="form-group">
                  <input type="text" class="form-control form-control-sm" name="name" [(ngModel)]="clientName"
                    placeholder="Enter Client Name" [ngbTypeahead]="search" required>
                </div>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="!clientForm.form.valid">Add
                Client</button>
              <button type="button" class="btn btn-default btn-sm btn-block" (click)="modal.dismiss('Cross click'); createTask(newTask, type, selectedItem)">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
