.custom,
.custom a {
  color: #ffffff !important;
  background-color: #1474a4 !important;
}

.customBtn {
  color: #ffffff !important;
  background-color: #1474a4 !important;
  cursor: pointer;
  border: none;
}

.customBtn:focus {
  outline: none;
}

.dropdown-item {
  font-size: 14px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  padding: 2px;
  width: 100%;
}

.header {
  padding: 0px 20px;
  z-index: 1000;
}

.empDropBtn,
.empDropBtn:focus {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #000;
}

.imgText {
  margin-top: 10px;
  margin-left: 8px;
}

.sameRow {
  display: inline-block;
  margin-right: 20px;
}

.roundImg {
  border-radius: 50px;
  width: 45px;
  height: 45px;
}

.dropdown-toggle::after {
  margin-bottom: 15px;
  color: #fff;
}

h5 span {
  font-size: 16px;
}

.badgeIcon {
  width: auto;
  height: 20px;
  background-color: red;
  border-radius: 2px;
  position: relative;
  left: 7px;
  padding: 0px 5px;
  top: 10px;
  font-size: 12px;
}

.notDropDown {
  position: absolute;
  background-color: #ffffff;
  width: 400px;
  left: 57%;
  top: 54px;
  z-index: 1008;
  border: 1px solid #ccc;
  box-shadow: 1px 0px 0px 0px #ccc;
}

/* .notDropDown:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 63%;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-bottom: solid 10px #ffffff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
} */

.zero {
  text-align: center;
  font-style: italic;
  margin-bottom: 0px;
}

.notRow {
  border-bottom: 1px solid #ccc;
}

.read {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  font-style: italic;
  border-left: 3px solid #1474a4;
}

.read p {
  margin-bottom: 0px;
  font-size: 11px;
}
