.custom,
.custom a {
  color: #ffffff !important;
  background-color: #1474a4 !important;
}

.customBtn {
  color: #ffffff !important;
  background-color: #1474a4 !important;
  cursor: pointer;
  border: none;
}

.customBtn:focus {
  outline: none;
}

.dropdown-item {
  font-size: 14px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  padding: 2px;
  width: 100%;
}

.header {
  padding: 0px 20px;
  z-index: 1000;
}

.empDropBtn,
.empDropBtn:focus {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #000;
}

.imgText {
  margin-top: 10px;
  margin-left: 8px;
}

.sameRow {
  display: inline-block;
  margin-right: 20px;
}

.roundImg {
  border-radius: 50px;
  width: 45px;
  height: 45px;
}

.dropdown-toggle::after {
  margin-bottom: 15px;
  color: #fff;
}

h5 span {
  font-size: 16px;
}
