<nav class="navbar fixed-top navbar-light custom justify-content-between header">
  <div class="container">
    <a class="navbar-brand">
      <img src="/assets/images/menu.png" style="cursor: pointer; width: 27px; margin-top: -6px;" (click)="goto('dashboard')"
        alt="" srcset="">
      <h5 style="display: inline"> Performance <strong>Bridge</strong> | <span>{{title}}</span></h5>
      <!-- <i class="fa fa-th fa-2x" aria-hidden="true"></i> -->
    </a>
    <form class="form-inline">
      <ul class="navbar-nav mr-auto" style="margin-right: 20px !important">
        <li class="nav-item" (click)="show()" style="cursor: pointer">
          <div *ngIf="count > 0" class="badgeIcon">{{count}}</div>
          <i class="fa fa-lg fa-bell" aria-hidden="true"></i>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <div ngbDropdown class="d-inline-block sameRow" style="padding-top: 5px;">
            <button type="button" class="empDropBtn" id="actions" ngbDropdownToggle>
              <div style="display: inline-flex; color: #ffffff">
                <img src='{{photo || "/assets/images/default_user.png"}}' class="roundImg" />
                <p class="imgText">{{name}}</p>
              </div>
            </button>
            <div ngbDropdownMenu aria-labelledby="actions">
              <button class="dropdown-item" (click)="logout()">Sign Out</button>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
</nav>
<br><br>
<!--  -->
<div *ngIf="showNotification" class="notDropDown" (mouseleave)="show()">
  <p class="zero" *ngIf="count === 0">No Notifications</p>
  <div *ngIf="count > 0">
    <div class="notRow read" (click)="show()">
      Your Leave Request Has Been Approved by Sathya Nadella
    </div>
  </div>
</div>
