<ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="displayMonths" [dayTemplate]="t" outsideDays="hidden"
  [footerTemplate]="footerTemplate">
</ngb-datepicker>

<ng-template #t let-date let-focused="focused">
  <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)"
    (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>

<ng-template #footerTemplate>
  <hr class="my-0">
  <button class="btn btn-secondary btn-sm m-2 float-right" (click)="close()">Close</button>
</ng-template>
