<div>
  <header title="Attendance Management"></header>
  <div class="container filterHeader">
    <br>
    <div class="row">
      <div class="col-2" style="border-right: 1px solid #ccc;">
        <div style="float: left;display: contents;">
          <button class="customBtn activeBtn" (click)="applyLeave(newLeave)" style="margin-right:20px;height: 36px;">
            Apply Leave
          </button>
        </div>
        <br>
        <ul class="list-group">
          <li class="list-group-item" [class.active]="selectedMenu === item" *ngFor="let item of menus" (click)="open(item)">
            {{item}}
            <span class="badge badge-primary badge-pill" *ngIf="item === 'Inbox' && count > 0">{{count}}</span>
          </li>
        </ul>
      </div>
      <div class="col-10">
        <!--- CALENDAR -->
        <div *ngIf="selectedMenu === 'Calendar'">
          <p *ngIf="!calendarOptions">Calendar is Loading...</p>
          <div *ngIf="calendarOptions">
            <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick(popup, $event.detail)"></ng-fullcalendar>
          </div>
        </div>
        <!--- INBOX -->
        <div *ngIf="selectedMenu !== 'Calendar'">
          <div class="container">
            <table id="dsr" class="table" cellpadding="10">
              <thead>
                <tr>
                  <th scope="col">TITLE</th>
                  <th scope="col">STATUS</th>
                  <th scope="col">DAYS</th>
                  <th scope="col">EMPLOYEE</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody *ngIf="leaves.length > 0">
                <tr class="whiteBox" *ngFor="let item of leaves; let i = index">
                  <td>{{item.title | truncate:26}}</td>
                  <td>{{item.status || 'Not Approved'}}</td>
                  <td>{{item.days}}</td>
                  <td>
                    <div style="display: inline-flex">
                      <img src={{item.appliedBy.photo}} class="roundImg" />
                      <p class="imgText">{{item.appliedBy.name}}</p>
                    </div>
                  </td>
                  <td>
                    <button class="roundBtn" id="open" style="margin-right: 10px;" (click)="openLeave(popup, item)">Open</button>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="leaves.length === 0">
                <tr class="whiteBox">
                  <td>No Data Available</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #popup let-modal>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-12 modalPopup">
          <div>
            <h5 class="popTitle"><i class="fa fa-bookmark" aria-hidden="true"></i> &nbsp; Leave Information</h5>
            <hr>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Title</strong></span>
                <span>{{selectedItem.title}}</span>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Status</strong></span>
                <span>{{selectedItem.status || 'Not Approved'}}</span>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Start Date</strong></span>
                <span>{{selectedItem.start | date: 'mediumDate'}}</span>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>End Date</strong></span>
                <span>{{selectedItem.end | date: 'mediumDate'}}</span>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Leave Type</strong></span>
                <span>{{selectedItem.type}}</span>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Description</strong></span>
                <span>{{selectedItem.description}}</span>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Number of Days Leave</strong></span>
                <span>{{selectedItem.days}}</span>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Applied On</strong></span>
                <span>{{selectedItem.created}}</span>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Applied By</strong></span>
                <div style="display: inline-flex">
                  <img src={{selectedItem.appliedBy.photo}} class="roundImg" />
                  <p class="imgText">{{selectedItem.appliedBy.name}}</p>
                </div>
              </div>
              <div class="col-6 col-6-grid" *ngIf="selectedItem.comments">
                <span class="primary"><strong>Approver Comments</strong></span>
                <span>{{selectedItem.comments}}</span>
              </div>
            </div>
          </div>
          <div *ngIf="selectedItem.status !== 'Approved' && selectedItem.status !== 'Declined'">
            <div class="col-12 col-12-grid">
              <span class="primary"><strong>Comments</strong></span>
              <textarea class="form-control" rows="3" cols="50" name="comments" id="comments" [(ngModel)]="comments"
                required placeholder="Comments..."></textarea>
            </div>
          </div>
          <hr>
          <div class="modalPopup" style="text-align: center">
            <button class="customBtn sameLine activeBtn" *ngIf="!selectedItem.status || selectedItem.status === 'Declined'"
              (click)="modal.dismiss('Cross click'); updateLeave('Approved')">Approve</button>
            <button class="customBtn sameLine activeBtn" *ngIf="!selectedItem.status || selectedItem.status === 'Approved'"
              (click)="modal.dismiss('Cross click'); updateLeave('Declined')">Decline</button>
            <button class="customBtn sameLine activeBtn" id="open" (click)="modal.dismiss('Cross click')">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #newLeave let-modal>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-12 modalPopup">
          <form name="leaveForm" (ngSubmit)="onSubmit()" #leaveForm="ngForm">
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Title</strong></span>
                <div class="form-group">
                  <input type="text" class="form-control form-control-sm" name="title" [(ngModel)]="apply.title"
                    placeholder="Title" required>
                </div>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Start Date</strong></span>
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="apply.start"
                      ngbDatepicker #d="ngbDatepicker" [minDate]="minDate">
                    <div class="input-group-append">
                      <button class="empDropBtn" style="border: 1px solid #ccc;" (click)="d.toggle()" type="button"><i
                          class="fa fa-calendar" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>End Date</strong></span>
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="apply.end"
                      ngbDatepicker #d1="ngbDatepicker" [minDate]="minDate">
                    <div class="input-group-append">
                      <button class="empDropBtn" style="border: 1px solid #ccc;" (click)="d1.toggle()" type="button"><i
                          class="fa fa-calendar" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Description</strong></span>
                <div class="form-group">
                  <textarea class="form-control" rows="3" cols="20" name="description" id="description" [(ngModel)]="apply.description"
                    required placeholder="Description..."></textarea>
                </div>
              </div>
              <div class="col-6 col-6-grid">
                <span class="primary"><strong>Leave Type</strong></span>
                <div ngbDropdown class="d-inline-block sameLine">
                  <button type="button" class="customBtn" id="dropdownBasic1" ngbDropdownToggle>{{selectedStatus}}</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button type="button" class="dropdown-item" (click)="applyType(item)" *ngFor="let item of leaveTypes; let i = index">{{item}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="!leaveForm.form.valid">Apply</button>
              <button type="button" class="btn btn-default btn-sm btn-block" (click)="model = {}; modal.dismiss('Cross click')">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
