<div>
  <header title="Protocol Analytics"></header>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-12 col-grid" id="dailyChart">
        <div class="col-sm-12 whiteBox">
          <div>
            <div ngbDropdown class="headRow">
              <p class="col-sm-6 textLeft bold">My Daily Update <i class="fa fa-question-circle-o" aria-hidden="true"
                  placement="bottom" triggers="mouseenter:mouseleave" ngbPopover="Number of various activities you have completed today."></i>
              </p>
              <div class="col-sm-6 textRight" *ngIf="dailyChart">
                <button class="noBtn">&nbsp; &nbsp;<i class="fa fa-ellipsis-v" aria-hidden="true" ngbDropdownToggle></i>
                  &nbsp; &nbsp;</button>
                <div ngbDropdownMenu>
                  <button class="dropdown-item" (click)="downloadImage('dailyChart')">Download Image</button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="dailyChart">
            <app-piechart [data]="dailyChart" [xAxisName]="'Count'" [yAxisName]="'Activity'"></app-piechart>
          </div>
          <div *ngIf="!dailyChart">
            <p class="notAvailable">Not Available</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-12-grid" id="weeklyChart">
        <div class="col-sm-12 whiteBox">
          <div>
            <div ngbDropdown class="headRow">
              <p class="col-sm-6 textLeft bold">My Weekly Update <i class="fa fa-question-circle-o" aria-hidden="true"
                  placement="bottom" triggers="mouseenter:mouseleave" ngbPopover="Number of various activities you have completed today."></i>
              </p>
              <div class="col-sm-6 textRight" *ngIf="weeklyChart">
                <button class="noBtn">&nbsp; &nbsp;<i class="fa fa-ellipsis-v" aria-hidden="true" ngbDropdownToggle></i>
                  &nbsp; &nbsp;</button>
                <div ngbDropdownMenu>
                  <button class="dropdown-item" (click)="downloadImage('weeklyChart')">Download Image</button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="weeklyChart">
            <app-barchart [data]="weeklyChart" [yAxisName]="'Activity'" [xAxisName]="'Count'"></app-barchart>
          </div>
          <div *ngIf="!weeklyChart" class="notAvailable">
            <p>Not Available</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-12-grid">
        <div class="col-sm-12 whiteBox">
          <div>
            <div class="headRow">
              <p class="col-sm-6 textLeft bold">My Monthly Update <i class="fa fa-question-circle-o" aria-hidden="true"
                  placement="bottom" triggers="mouseenter:mouseleave" ngbPopover="Number of various activities you have completed in this month."></i>
              </p>
            </div>
            <div class="notAvailable">
              <p>Not Available</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
