<div class="modal-body">
  <div class="container" *ngIf="data && data.effort">
    <div class="row">
      <div class="col-12 modalPopup">
        <div id="dsr">
          <h5 class="popTitle"><i class="fa fa-bookmark" aria-hidden="true"></i> &nbsp; DSR Information</h5>
          <hr>
          <div>
            <div class="col-6 col-6-grid">
              <span class="primary"><strong>Status</strong></span>
              <span>{{data.effort.sales}}</span>
            </div>
            <div class="col-6 col-6-grid">
              <span class="primary"><strong>Employee Name</strong></span>
              <span>{{data.name}}</span>
            </div>
          </div>
          <div>
            <div class="col-6 col-6-grid">
              <span class="primary"><strong>Date Visited</strong></span>
              <span>{{data.created | date: 'mediumDate'}}</span>
            </div>
            <div class="col-6 col-6-grid">
              <span class="primary"><strong>Next Followup</strong></span>
              <span>{{data.effort.followup | date: 'mediumDate'}}</span>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <h5 class="popTitle"><i class="fa fa-user-circle" aria-hidden="true"></i> &nbsp; Client Information</h5>
          <div>
            <div class="col-6 col-6-grid">
              <span class="primary"><strong>Name</strong></span>
              <span>{{data.effort.client}}</span>
            </div>
            <div class="col-6 col-6-grid">
              <span class="primary"><strong>Address</strong></span>
              <span>{{data.effort.address}}</span>
            </div>
          </div>
          <div>
            <div class="col-6 col-6-grid">
              <span class="primary"><strong>Contact Person</strong></span>
              <span>{{data.effort.person}}</span>
            </div>
            <div class="col-6 col-6-grid">
              <span class="primary"><strong>Contact Number</strong></span>
              <span>{{data.effort.contact}}</span>
            </div>
          </div>
          <div>
            <div class="col-12 col-6-grid">
              <span class="primary"><strong>Remarks</strong></span>
              <span>{{data.effort.remarks}}</span>
            </div>
          </div>
          <div>
            <div class="col-6 col-6-grid">
              <span class="primary"><strong>Signature</strong></span>
              <a href={{data.effort.signature}} target="_blank">
                <img src={{data.effort.signature}} alt="signature" />
              </a>
            </div>
            <div class="col-6 col-6-grid">
              <span class="primary"><strong>Photo</strong></span>
              <a href={{data.effort.photo}} target="_blank">
                <img src={{data.effort.photo}} alt="signature" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container" *ngIf="data && data.title">
  <div class="row">
    <div class="col-12 modalPopup">
      <div id="task">
        <h5 class="popTitle"><i class="fa fa-bookmark" aria-hidden="true"></i> &nbsp; Task Information</h5>
        <hr>
        <div>
          <div class="col-6 col-6-grid">
            <span class="primary"><strong>Title</strong></span>
            <span>{{data.title}}</span>
          </div>
          <div class="col-6 col-6-grid">
            <span class="primary"><strong>Status</strong></span>
            <span>{{data.status}}</span>
          </div>
        </div>
        <div>
          <div class="col-6 col-6-grid">
            <span class="primary"><strong>Created Date</strong></span>
            <span>{{data.created | date: 'mediumDate'}}</span>
          </div>
          <div class="col-6 col-6-grid">
            <span class="primary"><strong>Last Visited</strong></span>
            <span>{{data.modified | date: 'mediumDate'}}</span>
          </div>
        </div>
        <div>
          <div class="col-6 col-6-grid">
            <span class="primary"><strong>Due Date</strong></span>
            <span>{{data.due | date: 'mediumDate'}}</span>
          </div>
        </div>
        <hr>
        <div>
          <div class="col-6 col-6-grid">
            <span class="primary"><strong>Client Name</strong></span>
            <span>{{data.client}}</span>
          </div>
          <div class="col-6 col-6-grid">
            <span class="primary"><strong>Description</strong></span>
            <span>{{data.description}}</span>
          </div>
        </div>
        <div>
          <div class="col-6 col-6-grid">
            <span class="primary"><strong>Contact Person</strong></span>
            <span>{{data.person}}</span>
          </div>
          <div class="col-6 col-6-grid">
            <span class="primary"><strong>Contact Number</strong></span>
            <span>{{data.contact}}</span>
          </div>
        </div>
        <div>
          <div class="col-6 col-6-grid">
            <span class="primary"><strong>Location</strong></span>
            <span>{{data.location}}</span>
          </div>
        </div>
        <hr>
        <div>
          <div class="col-6 col-6-grid">
            <span class="primary"><strong>Assigned By</strong></span>
            <div style="display: inline-flex">
              <img src={{data.assignedBy.photo}} class="roundImg" />
              <p class="imgText">{{data.assignedBy.name}}</p>
            </div>
          </div>
          <div class="col-6 col-6-grid">
            <span class="primary"><strong>Assigned To</strong></span>
            <div style="display: inline-flex">
              <img src={{data.assignedTo.photo}} class="roundImg" />
              <p class="imgText">{{data.assignedTo.name}}</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="modalPopup" style="text-align: center" *ngIf="data.showMenu">
        <button class="customBtn sameLine activeBtn" (click)="modal.dismiss('Cross click'); delete(data)"><i
            class="fa fa-trash" aria-hidden="true"></i>
          &nbsp; Delete</button>
        <button class="customBtn sameLine activeBtn" (click)="modal.dismiss('Cross click'); share(data)"><i
            class="fa fa-share-alt" aria-hidden="true">
          </i>
          &nbsp; Share</button>
        <button class="customBtn sameLine activeBtn" id="open" (click)="modal.dismiss('Cross click')">Close</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="data.nothing" style="text-align: center; margin-top: 20%">
    <h1 class="popTitle">Not Found</h1>
  </div>
</div>
