.imgBox {
  margin: 20px;
  margin-top: 0px;
  border: 5px solid #fff;
  height: 280px;
  width: 280px;
}

.imgBox>img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.primary {
  color: #1474a4;
}

.titleBig {
  color: #726868;
  font-size: 16px;
  letter-spacing: 0.5;
  font-weight: 700;
}

.titleColor {
  color: #2196F3
}

.titleSmall {
  color: #726868;
  font-size: 13px;
  letter-spacing: 0.5;
  font-weight: 700;
  margin-bottom: 5px;
}

:host ::ng-deep .customTabs a.nav-link {
  border: 0px solid !important;
  background-color: transparent !important;
  color: #a59f9f !important;
  font-weight: 500 !important;
  font-size: 12px;
}

:host ::ng-deep .customTabs a.nav-link.active {
  border: 0px solid !important;
  border-bottom: 2px solid #2196F3 !important;
  background-color: transparent !important;
  color: #726868 !important;
  font-weight: 700 !important;
  font-size: 12px;
}

.rowText {
  display: inline-flex;
  width: 100%;
}

.noBtn {
  font-size: 14px;
  font-weight: 600;
  background: transparent;
  border: none;
  cursor: pointer;
}

.titleText {
  color: #000;
  font-size: 13px;
  font-weight: 500;
}

.titleAdjust {
  margin-bottom: 2px;
}

.lastUpdate {
  text-align: right;
  margin-top: 35px;
  position: absolute;
  right: 0;
  color: #726868;
  font-size: 12px;
}

.roundImg {
  border-radius: 50px;
  width: 45px;
  height: 45px;
}

.imgText {
  margin-top: 10px;
  margin-left: 8px;
}

.logRow {
  margin: 5px;
  padding: 5px;
  font-size: 12px;
}

.logHead {
  padding-left: 0px;
  font-weight: 700;
  margin-bottom: 5px;
}

.whiteBox {
  color: #58585c;
  background-color: #ffffff !important;
  border: 1px solid #ffffff;
  padding: 10px;
  box-shadow: 0px 3px 15px -1px #ccc;
  cursor: pointer;
  border-left: 4px solid #1474a4;
}

.roundBtn {
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 12px;
  color: #58585c;
  background-color: transparent;
  padding: 4px 18px;
  cursor: pointer;
}

.customBtn {
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 14px;
  color: #58585c;
  background-color: #ffffff;
  padding: 4px 18px;
  cursor: pointer;
}

.roundBtn:focus,
.customBtn:focus {
  outline: none !important;
}

.imgBox {
  position: relative;
  margin-top: 10px;
  width: 270px;
  height: 270px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.imgBox:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.profileImg {
  position: absolute;
  width: 270px;
  height: 270px;
  left: 0;
}

.imgBtn {
  position: absolute;
  width: 250px;
  left: 0;
  top: 230px;
  text-align: right;
  opacity: 0;
  transition: opacity .35s ease;
}

.imgBtn a {
  color: white;
  cursor: pointer;
  z-index: 1;
}

.imgBox:hover .imgBtn {
  opacity: 1;
}

.uploader {
  opacity: 0;
  position: absolute;
  z-index: 1;
  margin-left: -90px;
  cursor: pointer;
}
