<div>
  <header title="My Profile"></header>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-4 col-4-grid">
        <div class="imgBox">
          <img class="profileImg" src="{{photo}}" alt="Employee Picture">
          <div class="overlay"></div>
          <div class="imgBtn"><a>
              <label style="cursor: pointer" for="file"> <i class="fa fa-cloud-upload" aria-hidden="true"></i>Upload</label>
              <input type="file" style="opacity: 0;position: absolute;z-index: -1;" id="file" accept="image/x-png,image/jpeg"
                (change)="handleFileInput($event.target.files)">
            </a>
          </div>
        </div>
        <div style="margin-left: 20px;">
          <p class="titleAdjust" style="font-weight: 500;">{{profile.name}}</p>
          <p class="titleAdjust">{{profile.email}}</p>
        </div>
      </div>
      <div class="col-8 col-8-grid">
        <div>
          <h2>{{profile.employee.name}}</h2>
          <p class="titleText">{{profile.employee.designation}}</p>
        </div>
        <br>
        <div>
          <p class="titleSmall">ORGANIZATION</p>
          <p class="titleText">{{profile.name}}</p>
        </div>
        <!-- <div *ngIf="profile.employee.type !== 'manager'"> -->
        <div>
          <p class="titleSmall">MANAGER</p>
          <div style="display: inline-flex">
            <img src={{manager.photo}} class="roundImg" />
            <p class="imgText">{{manager.name}}</p>
          </div>
        </div>
        <div class="row pull-right lastUpdate">
          <p class="">Last Updated: <span>{{profile.employee.modified | date: 'medium'}}</span></p>
        </div>
        <br>
        <div>
          <ngb-tabset class="customTabs" #tabRef="ngbTabset">
            <ngb-tab id="about">
              <ng-template ngbTabTitle> <i class="fa fa-id-badge" aria-hidden="true"></i> About</ng-template>
              <ng-template ngbTabContent>
                <br>
                <div>
                  <div class="row">
                    <div class="col-8">
                      <p class="titleSmall" style="margin-bottom: 20px;">CONTACT INFORMATION</p>
                    </div>
                    <div class="col-4" style="text-align: right;">
                      <button class="customBtn primary" *ngIf="!edit" (click)="editForm()"> <i class="fa fa-pencil"
                          aria-hidden="true"></i>
                        Edit</button>
                      <button class="customBtn primary" *ngIf="edit" (click)="updateForm()" style="margin-right: 10px;">
                        Update</button>
                      <button class="customBtn primary" *ngIf="edit" (click)="edit = false"> Clear</button>
                    </div>
                  </div>
                  <div class="rowText">
                    <p class="titleSmall col-3">Phone:</p>
                    <p class="titleText col-9" *ngIf="!edit">+91-{{profile.employee.phone || 'Not Available'}}</p>
                    <div class="col-5 form-group" *ngIf="edit">
                      <input type="number" class="form-control form-control-sm" name="phone" [(ngModel)]="model.phone"
                        placeholder="Phone Number" required>
                    </div>
                  </div>
                  <div class="rowText">
                    <p class="titleSmall col-3">Email:</p>
                    <p class="titleText col-9" *ngIf="!edit">{{profile.employee.email || 'Not Available'}}</p>
                    <div class="col-5 form-group" *ngIf="edit">
                      <input type="email" class="form-control form-control-sm" name="email" [(ngModel)]="model.email"
                        placeholder="Email Address" required>
                    </div>
                  </div>
                  <div class="rowText">
                    <p class="titleSmall col-3">Address:</p>
                    <p class="titleText col-9" *ngIf="profile.employee.address.street && !edit">{{profile.employee.address.street}},
                      {{profile.employee.address.city}}, {{profile.employee.address.state}},
                      {{profile.employee.address.country}}
                      {{profile.employee.address.pincode}}</p>
                    <p class="titleText col-9" *ngIf="!profile.employee.address.street  && !edit">Not Available</p>
                    <div class="col-5 form-group" *ngIf="edit">
                      <input type="text" class="form-control form-control-sm" name="email" [(ngModel)]="model.address.street"
                        placeholder="Street" style=" margin-bottom: 5px;">
                      <input type="text" class="form-control form-control-sm" name="email" [(ngModel)]="model.address.city"
                        placeholder="City" style=" margin-bottom: 5px;" required>
                      <input type="text" class="form-control form-control-sm" name="email" [(ngModel)]="model.address.state"
                        placeholder="State" style=" margin-bottom: 5px;" required>
                      <input type="number" class="form-control form-control-sm" name="email" [(ngModel)]="model.address.pincode"
                        placeholder="pincode" style=" margin-bottom: 5px;" required>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <div class="col-8">
                      <p class="titleSmall" style="margin-bottom: 20px;">BASIC INFORMATION</p>
                    </div>
                  </div>
                  <div class="rowText">
                    <p class="titleSmall col-3">Employee ID:</p>
                    <p class="titleText col-9">{{profile.employee.employeeId || 'Not Available'}}</p>
                  </div>
                  <div class="rowText">
                    <p class="titleSmall col-3">Date of Joining:</p>
                    <p class="titleText col-9">{{profile.employee.doj | date: 'mediumDate' || 'Not Available'}}</p>
                  </div>
                  <div class="rowText">
                    <p class="titleSmall col-3">Gender:</p>
                    <p class="titleText col-9">{{profile.employee.gender || 'Not Available'}}</p>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="password">
              <ng-template ngbTabTitle> <i class="fa fa-user-secret" aria-hidden="true"></i> Change Password</ng-template>
              <ng-template ngbTabContent>
                <br>
                <div class="row">
                  <br>
                  <div class="col-12">
                    <form name="passwordForm" (ngSubmit)="updatePass()" #loginForm="ngForm">
                      <div class="rowText">
                        <p class="titleSmall col-3">Old Password:</p>
                        <div class="col-5 form-group">
                          <input type="password" class="form-control form-control-sm" name="exampleInputPassword1"
                            [(ngModel)]="pass.old" placeholder="Old Password" required>
                        </div>
                      </div>
                      <div class="rowText">
                        <p class="titleSmall col-3">New Password:</p>
                        <div class="col-5 form-group">
                          <input type="password" class="form-control form-control-sm" name="exampleInputPassword2"
                            [(ngModel)]="pass.new" placeholder="New Password" required>
                        </div>
                      </div>
                      <div class="rowText">
                        <p class="titleSmall col-3">Confirm Password:</p>
                        <div class="col-5 form-group">
                          <input type="password" class="form-control form-control-sm" name="exampleInputPassword3"
                            [(ngModel)]="pass.confirm" placeholder="Confirm Password" required>
                        </div>
                      </div>
                      <div class="alignLeft">
                        <button type="submit" class="btn btn-primary btn-sm" style="width: 200px;    margin-right: 20px;"
                          [disabled]="!loginForm.form.valid">Update Password</button>
                        <button type="button" class="btn btn-sm" style="width: 100px;" (click)="pass = {}">Clear</button>
                      </div>
                    </form>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="log">
              <ng-template ngbTabTitle> <i class="fa fa-vcard" aria-hidden="true"></i> Log</ng-template>
              <ng-template ngbTabContent>
                <br>
                <div class="logRow whiteBox" *ngFor="let item of profile.logs">
                  <div class="col-12" style="display: inline-flex">
                    <p class="col-8 logHead" style="text-align: left;">{{item.type | titlecase}} Activity</p>
                    <p class="col-4 logHead" style="text-align: right;">{{item.created | date: 'medium'}}</p>
                  </div>
                  <div class="col-12">
                    <p style="margin-bottom: 5px;"> You {{item.text}} on {{item.created | date: 'medium'}}</p>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
