/* You can add global styles to this file, and also import other style files */

body {
    height: 100%;
}

.btn {
    background-color: #1c2d66 !important;
    border-color: #1c2d66 !important;
}

.btn:focus {
    box-shadow: none !important;
}