.thead {
  min-width: 200px;
  padding: 5px;
}

.tableRow {
  margin: 10px;
  padding: 5px;
  font-size: 13px;
}

h5 span {
  font-size: 14px;
}

.filerItem {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: #58585c;
  list-style: none;
  max-width: 125px;
  border: 1px solid #ffffff !important;
  margin: 2px;
  min-width: 50px;
  height: 30px;
  background-color: #ffffff !important;
  padding: 2px 5px;
  font-weight: 400;
}


.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
  padding: 5px !important;
}

.tableCon {
  margin-right: 20px;
  margin-left: 20px;
}
